</main>
<header> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</header>
<footer class="bg-light text-center text-lg-start mt-5 py-3 border-top">
  <div class="container">
    <p class="mb-0 text-muted">
      &copy; <%= new Date().getFullYear() %> <strong>My BlogPost App</strong>. All rights reserved to Jeremiah Lopez.
    </p>
  </div>
</footer>
</body>
</html>
