<!DOCTYPE html>
<html>
<head>
  <%- include('partials/header') %>
</head>
<body>
  </header>
  <main>
  <%- body %> > <!-- Needed for all functions -->
  </main>
  <%- include('partials/footer') %>
</body>
</html>